
div.filters{
    display: flex;
    justify-self: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1400px;
    width: 100%;
    margin: 2rem 0rem;
    
  }
  
  @media only screen and (max-width: 551px) {
    div.filters {
      justify-content: center ;
    }
    div.filters i{
      position: relative;
      left: 1rem ;
    }
    form{
      margin-bottom: 2rem;
    }
    
  }
  
  
  
  div.filters i{
    position: absolute;
    top: .9rem;
    left: 1rem;
    font-size: 1.25rem;
    color: grey;
    
  }
  
  form,select{
    display: flex;
    flex: 1 1 320px;
    justify-content: center;
    max-width: 320px;
    position: relative;
  }
  
  input,select{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: solid white 2px;
    border-radius: 4px;
    background-color: white;
    padding: .8rem 0rem;
     
  }
  input{
    padding-left: 3rem;
    width: 100%;
  }
  
  select{
    max-width: 200px;
    min-width: 140px;
  
  }
  
  
  
  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-self: center;
    justify-items: center;
    width: 100%;
    max-width: 1450px;
  }
  @media only screen and (max-width: 1450px) {
    
    main{
      max-width: 100%;
    }
  }


  article {
    display: grid;
    width: 100%;
    max-width: 275px;
    box-shadow: var(--color-secondary) 0px 7px 29px 0px;
    margin-bottom: 3rem;
    font-family: Helvetica;
    border-radius: 0.5rem;
    background-color: var(--color-primary);
  }
  
  article img {
    aspect-ratio: 16/9;
    width: 100%;
    min-width: 275px;
    object-fit: cover;
    border-radius: 0.4rem 0.4rem 0rem 0rem;
  }
  
  div.details {
    margin: 1rem;
    color: var(--color-text)
  }
  
  div.details h3 {
    margin-bottom: 1.25rem;
  }
  div.details h5{
    margin-bottom: 0.5rem;
  }
  div.details span {
    margin-left: 0.3rem;
    font-weight: lighter;
  }

  